/* Global Styles
-------------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
color: #343434;
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;
font-size: 15px;
line-height: 1.5;
}
img {
  width: 300px;
}
a {
  color: #FFE66D;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  width: 950px;
  margin: 0 auto;
  padding: 60px 0;
}


/* Profile
-------------------------------*/
header {
  background: #832161;
  border: solid #54153e;
  color: #F7FFF7;
}
  

/* Projects
-------------------------------*/
.projects {
  background: #bcd2ee;
  border: solid #abbfd9;
}
.projects a {
  color: #2F3061;
}
.projects .btn {
  color: #F7FFF7;
  background: #08415c;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: rgba(47, 48, 97, 80%);
}
.project-tem {
  overflow: hidden;
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}
.porject-item img {
  float: left;
  margin-right: 20px;
}
.project-item h3 {
  margin-top: 0;
}

/* Work Experience
-------------------------------*/
.work-experience {
  background: #0bc9cd;
  border: solid #099396;
}

/* Education
-------------------------------*/
.education {
  background: #bcd2ee;
  border: solid #abbfd9;
}

/* Contact Info
-------------------------------*/
footer {
  background: #7c77b9;
  border: solid #444165;
  color: #08415c;
}
